name: Deploy wasm demo to Pages

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          target: wasm32-unknown-unknown

      - name: Install wasm-bindgen
        run: |
          cargo install cargo-quickinstall
          cargo quickinstall wasm-bindgen-cli

      - name: Build
        run: |
          cargo build --target wasm32-unknown-unknown --release --example moving --features bevy/webgl2
          wasm-bindgen --no-typescript --out-dir wasm --target web target/wasm32-unknown-unknown/release/examples/moving.wasm

          cargo build --target wasm32-unknown-unknown --release --example lines --features bevy/webgl2
          wasm-bindgen --no-typescript --out-dir wasm --target web target/wasm32-unknown-unknown/release/examples/lines.wasm

          cargo build --target wasm32-unknown-unknown --release --example many --features bevy/webgl2
          wasm-bindgen --no-typescript --out-dir wasm --target web target/wasm32-unknown-unknown/release/examples/many.wasm

          cargo build --target wasm32-unknown-unknown --release --example gltf --features bevy/webgl2
          wasm-bindgen --no-typescript --out-dir wasm --target web target/wasm32-unknown-unknown/release/examples/gltf.wasm

          cargo build --target wasm32-unknown-unknown --release --package interactive --features bevy/webgl2
          wasm-bindgen --no-typescript --out-dir wasm --target web target/wasm32-unknown-unknown/release/interactive.wasm

      - name: Copy Assets
        run: cp -r assets wasm/

      - name: Copy Screenshots
        run: cp screenshots/* wasm/

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'wasm'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
